# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf

[*.yml]
indent_style = space
indent_size = 2
space_around_operators = true

[*.styl]
indent_style = space
indent_size = 2

[*.jade]
indent_style = space
indent_size = 2

[*.rb]
indent_style = space
indent_size = 2
space_around_operators = true
