*.sh.0 linguist-language=Shell
*.sh.1 linguist-language=Shell
*.sh.2 linguist-language=Shell
*.sh.3 linguist-language=Shell
*.sh.4 linguist-language=Shell
*.sh.5 linguist-language=Shell
*.sh.6 linguist-language=Shell
*.sh.7 linguist-language=Shell
*.sh.8 linguist-language=Shell
*.sh.9 linguist-language=Shell
